@font-face {
    font-family: 'determination';
    src: url('DeterminationMonoWebRegular-Z5oq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mercy';
    src: url('MERCY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'determination';
    background-color: black;
    color: white;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0px;
}

nav ul li {
    padding: 4px;
    border: solid 4px #ff8806;
}

nav ul li .nav-bar {
    padding: 1px 40px;
}

nav ul a{
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 50px;
    font-size: 20px;
    display: contents;
    color: #ff8806;
    font-family: 'mercy';
}

header {
    background-image:url('img/Castle_background_header.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1000px 0px 100px 0px;
}

header img {
    display: flex;
    margin-top: -700px;
}

body #description {
    text-align: center;
    padding: 0px 350px 50px;
}

body #trailer {
    display: flex;
    justify-content: center;
}

body #personnages .column{
    display: flex;
}

body #personnages h2{
    text-align: center;
}

body #personnages .charG{
    display: flex;
    width: 50%;
    margin: 20px;
    margin-left: 150px;
    padding: 10px;
    border: solid 3px white;
}

body .charG p {
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}

body #personnages .charD{
    display: flex;
    width: 50%;
    margin: 20px;
    margin-right: 150px;
    padding: 10px;
    border: solid 3px white;
}

body .charD p {
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
}

body #personnages #Toriel {
    width: 9.3%;
}

body #personnages #Papyrus {
    width: 12%;
}

body #personnages #Undyne {
    width: 8.2%;
}

body #personnages #Muffet {
    width: 15%;
}

body #personnages #Asgore {
    width: 16%;
}

body h2 {
    text-align: center;
    font-size: 50px;
}

body #personnages .charG p{
    margin-left: 20px;
    text-align: center;
}

body #personnages .charD p{
    margin-left: 20px;
    text-align: center;
}


body .line {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 25%;
    height: 3px;
    background-color: white;
}

body .routes .TextRoute {
    text-align: center;
    padding: 0px 450px;
}

body .routes {
    position: relative;
    display: inline-block;
}

body .routes #neutre {
    display: flex;
}

body .routes #pacifiste {
    display: flex;
}

body .routes #genocide {
    display: flex;
}

body .routes #act {
    width: 10%;
    height: 10%;
}

body .routes #mercy {
    width: 10%;
    height: 10%;
}

body .routes #fight {
    width: 10%;
    height: 10%;
}

body #soundtrack {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

footer .form-part1 {
    display: flex;
    justify-content: right;
    padding-right: 21.6%;
}

footer .form-part2 {
    display: flex;
    justify-content: right;
    padding-right: 20%;
}

footer .form-element input {
    display: flex;
    border: none;
    border-bottom: 2px solid white;
    background-color: #212121;
    color: white;
    font-family: 'determination';
    justify-content: center;
}

footer .form-element input:focus {
    outline: none;
}

footer {
    background-color: #212121;
}